@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: 0;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: #fff;
  background: #000000;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 500px;
  margin: 20px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  position: relative;
}

.header {
  background-color: #2d2d37;
  text-align: center;
  padding: 1.75rem;
}

.header h1 {
  font-size: 2.25rem;
}

.date {
  background-color: #222;
  text-align: right;
  font-size: 0.75rem;
  padding: 0.75rem 2rem 0.75rem 0;
}

ul.currencies::-webkit-scrollbar {
  width: 10px;
}

ul.currencies::-webkit-scrollbar-thumb {
  background-color: #2d2d37;
  border-bottom: 1rem solid #222;
}

.flag {
  width: 60px;
  height: 40px;
  border: 1px solid #fff;
  vertical-align: top;
}

.info {
  display: inline-block;
  width: 78%;
}

.info .input span {
  font-size: 1.5rem;
  display: inline-block;
  width: 4rem;
  text-align: center;
}

.info .input input {
  font-size: 1.5rem;
  width: 78%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 0.3rem;
  margin-bottom: 0.75rem;
  outline: 0;
}

.info .currency-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
}

.info .base-currency-rate {
  font-size: 0.8rem;
  margin-left: 4rem;
}

ul.add-currency-list {
  position: absolute;
  bottom: 54px;
  left: 105%;
  background-color: #f1f1f1;
  color: #333;
  width: 100%;
  height: calc(100vh - 40px - 100px - 55px - 20px);
  overflow-y: auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

ul.add-currency-list li {
  list-style: none;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
}

ul.add-currency-list li .flag {
  width: 3rem;
  height: 2rem;
  vertical-align: middle;
}

ul.add-currency-list li span {
  margin-left: 1rem;
  font-weight: bold;
}

ul.add-currency-list li.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
}

ul.add-currency-list li:hover {
  cursor: pointer;
}

.add-currency-btn {
  max-height: 57px;
  background-color: #00b386;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: bold;
  border: none;
  border-top: 3px solid #222;
  outline: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  position: relative;
}

.add-currency-btn #add {
  position: absolute;
  line-height: 1.5em;
  top: 0.6rem;
  left: 5%;
  font-size: 1.5rem;
  opacity: 1;
  left: 1.25rem;
}

.add-currency-btn #close {
  display: none;
}

.add-currency-btn.open {
  background-color: #b30000;
}

.add-currency-btn.open #close {
  position: absolute;
  line-height: 1.5em;
  top: 0.6rem;
  left: 5%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  left: 1.25rem;
}

.add-currency-btn.open #add {
  display: none;
}

.add-currency-btn.open + ul.add-currency-list {
  left: 0;
}

.add-currency-btn.open + ul.add-currency-list li:hover {
  background-color: #ddd;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  ul.currencies {
    line-height: 1.5em;
  }
  .header h1 {
    font-size: 2rem;
  }
  .flag {
    width: 3rem;
    height: 2rem;
  }
  .info .input span {
    font-size: 1.25rem;
    width: 3.5rem;
  }
  .info .input input {
    font-size: 1.25rem;
    width: 76%;
  }
  .info .currency-name {
    margin-left: 3.5rem;
  }
  .info .base-currency-rate {
    margin-left: 3.5rem;
  }
  ul.add-currency-list {
    bottom: 53px;
  }
  .add-currency-btn i {
    left: 25%;
    top: 0.65rem;
  }
}

footer {
  color: #fff;
  max-width: 500px;
  font-size: 12px;
  margin: 0% auto 0;
  text-align: left;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: #fff;
}

ul.currencies {
  height: calc(100vh - 40px - 100px - 40px - 58px - 20px);
  background-color: #222;
  padding: 0 1.5rem 1rem 1.5rem;
  overflow-y: auto;
}

ul.currencies li {
  background-color: #2d2d37;
  border-radius: 3px;
  list-style: none;
  padding: 1rem 1rem 0.75rem 1rem;
  margin-bottom: 1rem;
  position: relative;
}

ul.currencies lilast-child {
  margin-bottom: 0;
}

ul.currencies li .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #aaaaaa;
  cursor: pointer;
}

ul.currencies li .close:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */